h1{
font-size: 50px;
border-radius: 0px;
text-align: center;
background-color:lightgrey;
color:black;
margin: 0px;
padding:10px 10px 10px 10px;


}


p{
font-size: 50px;
border-radius: 0px;
text-align: left;
background-color:yellow;
color:black;
margin:0px;
padding:10px 10px 10px 10px;
}