#main-container{
	position: relative;
	background-color: white;
	height: 500px;
	width: 500px;
	margin: 0 auto;
}

.red{
position: relative;
background-color: red;
height: 30px;
width: 600px;
margin: 0 auto;

}

.white{
position: relative;
background-color: white;
height: 30px;
width: 600px;
margin: 0 auto;

}

.bluebox{

position: absolute;
background-color:blue;
height: 210px;
top: 0px;
width:80%;
z-index: 3;
}

#star{
	position: relative;
	height: 30px;
	top: 0px;
	width: 60px;
	z-index: 3;
	margin: 0 auto;
}




